{% namespace tests.iftest %}

{% macro basicif(option) %}{% if option %}Option set.{% else %}No option set.{% endif %}{% endmacro %}

{% macro basicif2(option) %}{% if option.data %}Option data set.{% else %}No option data set.{% endif %}{% endmacro %}

{% macro basicif3(option) %}{% if option %}{{ option }}{% endif %}{% endmacro %}

{% macro ifand1(option, option2) %}{% if option and option2 %}Equal{% endif %}{% endmacro %}

{% macro ifor1(option, option2) %}{% if option or option2 %}Equal{% endif %}{% endmacro %}

{% macro ifequal1(option) %}{% if option == 1 %}Equal{% endif %}{% endmacro %}
{% macro ifequal2(option) %}{% if option == None %}Equal{% endif %}{% endmacro %}

{% macro ifconditional1(cond) -%}
{{ 'True cond' if cond else 'False cond' }}
{%- endmacro %}

{% macro ifconditional2(cond) -%}
{{ 'True cond' if cond }}
{%- endmacro %}

{% macro ifconditional3(cond, defaultmsg) -%}
{{ 'True cond' if cond else defaultmsg }}
{%- endmacro %}
