<html>
  <head>
    <title>pwt.jinja2js</title>
    <script type="text/javascript">
      CLOSURE_NO_DEPS = true;
      CLOSURE_BASE_PATH = "http://localhost:8000";
    </script>
    <script type="text/javascript" src="/closure/closure/goog/base.js"></script>
    <script type="text/javascript" src="/media/deps.js"></script>

    <script type="text/javascript" src="/soy/documentation.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/documentation_concat.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/variables.jinja2"></script>
  </head>
  <body>
    <h3>pwt.jinja2js</h3>

    <ul>
      <li><a href="/tests.html">Tests</a></li>
      <li><a href="/tests_concat.html">Tests (Concat style)</a></li>
      <li><a href="/tests_compiled.html">Tests (with compiled JavaScript)</a></li>
    </ul>

    <h4>Example</h4>
    <script type="text/javascript">
      document.write(ns1.printusers({users: [
         {username: "michael", url: "#user/michael"},
         {username: "johndoe", url: "#user/johndoe"}
        ]})
      );
    </script>

    <h4>Example (Concat style)</h4>
    <script type="text/javascript">
      document.write(ns2.printusers({users: [
         {username: "michael", url: "#user/michael"},
         {username: "johndoe", url: "#user/johndoe"}
        ]})
      );
    </script>
  </body>
</html>
