<html>
  <head>
    <link rel="stylesheet" href="/media/qunit.css" type="text/css" />

    <script type="text/javascript" src="/media/qunit.js"></script>
    <script type="text/javascript" src="/media/soyutils.js"></script>

    <script type="text/javascript" src="/concat_soy/variables.soy"></script>
    <script type="text/javascript" src="/concat_soy/if.soy"></script>
    <script type="text/javascript" src="/concat_soy/for.soy"></script>
    <script type="text/javascript" src="/concat_soy/call.soy"></script>
    <script type="text/javascript" src="/concat_soy/imported.soy"></script>
    <script type="text/javascript" src="/concat_soy/import.soy"></script>
    <script type="text/javascript" src="/concat_soy/autoescaped.soy"></script>
    <script type="text/javascript" src="/concat_soy/filters.soy"></script>

    <script type="text/javascript" src="/media/tests.js"></script>
  </head>
  <body>
    <h1 id="qunit-header">QUnit example</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture">test markup, will be hidden</div>
  </body>
</html>
