<html>
  <head>
    <script type="text/javascript">
      CLOSURE_NO_DEPS = true;
      CLOSURE_BASE_PATH = "http://localhost:8000";
    </script>
    <script type="text/javascript" src="/js/input/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{ deps_js }}"></script>

    <script type="text/javascript" src="/js/input/soyutils.js"></script>

    <script type="text/javascript" src="/js/input/variables.jinja2"></script>
    <script type="text/javascript" src="/js/input/if.jinja2"></script>
    <script type="text/javascript" src="/js/input/for.jinja2"></script>
    <script type="text/javascript" src="/js/input/call.jinja2"></script>
    <script type="text/javascript" src="/js/input/imported.jinja2"></script>
    <script type="text/javascript" src="/js/input/import.jinja2"></script>
    <script type="text/javascript" src="/js/input/autoescaped.jinja2"></script>
    <script type="text/javascript" src="/js/input/filters.jinja2"></script>

    <script type="text/javascript" src="/js/input/tests.js"></script>

  </head>
  <body></body>
</html>
