<html>
  <head>
    <script type="text/javascript">
      CLOSURE_NO_DEPS = true;
      CLOSURE_BASE_PATH = "http://localhost:8000";
    </script>
    <script type="text/javascript" src="/closure/closure/goog/base.js"></script>
    <script type="text/javascript" src="{{ deps_js }}"></script>

    <script type="text/javascript" src="/media/soyutils.js"></script>

    <script type="text/javascript" src="/concat_soy/variables.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/if.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/for.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/call.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/imported.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/import.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/autoescaped.jinja2"></script>
    <script type="text/javascript" src="/concat_soy/filters.jinja2"></script>

    <script type="text/javascript" src="/media/tests.js"></script>

  </head>
  <body></body>
</html>
