[buildout]
develop =
    .
    pwt.jscomp

parts =
    serve
    test

unzip = true

[settings.ini]
recipe = collective.recipe.template
input = ${buildout:directory}/etc/settings.ini.in
output = ${buildout:directory}/etc/settings.ini

[serve]
recipe = zc.recipe.egg
scripts = paster=serve
arguments =
    args = ["serve", "${settings.ini:output}"] + sys.argv[1:]
eggs =
    jscomp
    PasteScript

[test]
recipe = zc.recipe.egg
scripts = nosetests=test
arguments =
    argv = sys.argv[0:1]
    +
    ["--nocapture",
     "--nologcapture",
     "--exe",
     "--with-test-suites",
     "--test-suites-include=jinja2.testsuite.suite",
    ] + sys.argv[1:]
eggs =
    nose
    jscomp
