{% namespace tests.call %}

{% macro callme(name) %}{% if name %}{{name }}{% else %}I{% endif %} was called!{% endmacro %}

{% macro call1() %}{{ tests.call.callme() }}{% endmacro %}

{% macro call2() %}{{ tests.call.callme(name = "Michael") }}{% endmacro %}

{% macro dictcall(name) %}{{ name.first }} {{ name.second }}{% endmacro %}

{% macro call3() %}{{ tests.call.dictcall(name = {'first': 'Michael', 'second': 'Kerrin'}) }}{% endmacro %}
