{% namespace tests.fortest %}

{% macro for1(data) -%}
{% for item in data %}{{ item }}{% endfor %}
{%- endmacro %}

{% macro for2(data) -%}
{% for item in data %}{{ item }}{% else %}Empty{% endfor %}
{%- endmacro %}

{% macro forloop1(data) -%}
{% for item in data %}{{ loop.index }} - {{ loop.index0 }}<br/>{% endfor %}
{%- endmacro %}

{% macro forloop2(jobs) -%}
{% for job in jobs %}{% for badge in job.badges %}{{ badge.name }} {% endfor %}{% endfor %}
{%- endmacro %}
