<html>
  <head>
    <title>Hello</title>
    <script type="text/javascript">
      CLOSURE_NO_DEPS = true;
      CLOSURE_BASE_PATH = "http://localhost:8000";
    </script>
    <script type="text/javascript" src="/closure/closure/goog/base.js"></script>
    <script type="text/javascript" src="/media/deps.js"></script>

    <script type="text/javascript" src="/soy/hello.soy"></script>
  </head>
  <body>
    <h3>pwt.jscompiler</h3>

    <ul>
      <li><a href="/tests.html">Tests</a></li>
      <li><a href="/tests_compiled.html">Tests (with compiled JavaScript)</a></li>
    </ul>

    <h4>Example</h4>
    <script type="text/javascript">
      document.write(examples.hello({"name": "Michael"}));
    </script>
  </body>
</html>
